@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
     --primary-color-lightest: #D1A9F3;
     --primary-color-light: #9166D5;
     --primary-color: #4B0082;
     --primary-color-dark: #3A0069;
     --primary-color-darkest: #3A005E;

     --secondary-color-lightest: #F0E4F9;
     --secondary-color-light: #E3CCE9;
     --secondary-color: #D8BFD8;
     --secondary-color-dark: #A491A4;
     --secondary-color-darkest: #5E5A5F;

     --tertiary-color-lightest: #A9A9A9;
     --tertiary-color-light: #808080;
     --tertiary-color: #5A5A5A;
     --tertiary-color-dark: #3F3F3F;
     --tertiary-color-darkest: #292929;

     --quaternary-color-lightest: #FFF8CC;
     --quaternary-color-light: #FFE870;
     --quaternary-color: #FFD700;
     --quaternary-color-dark: #CCAC00;
     --quaternary-color-darkest: #997F00;

 
     --gradient-overlay: linear-gradient(120deg, #6620da, #825bc5, #9089af, #93b596);

     --font-titulo: 'Silkscreen', sans-serif;
     --font-secondary: 'Courier New', monospace;
 
     --spacing-small: 8px;
     --spacing-medium: 16px;
     --spacing-large: 32px;
}
